@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    --fondo:rgb(255, 255, 255);
    --color-letra:rgb(13, 73, 13);
    --fondo-info:rgb(226, 242, 255);
    --borde: rgb(144, 207, 255);
    --sombra:rgba(0,0,0, 0.2);
    background-color: var(--fondo);
}
.bigger{
    font-size: 30px;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
html{
    font-family: 'Roboto Slab', serif;
    color:rgb(13, 73, 13);
    color:var(--color-letra);
}
img{
    width: 300px;
}
.borde{
    border-color: rgb(211, 235, 255);
    border-color: var(--borde); 
    border-width:  3px;
    border-style:  solid;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2), 0 5px 5px rgba(0,0,0, 0.2);
    box-shadow: 0 10px 20px var(--sombra), 0 5px 5px var(--sombra);
}
.circle{
    border-radius: 50%;
}
.content-info-cuadro{
    background-color: rgb(226, 242, 255);
    background-color: var(--fondo-info);
    margin: 15px;
    padding: 15px;
    text-align: justify;
}
.content-info-cuadro h2{
    margin: 0px 0px 10px 0px;
    text-align: center;
}
.content-info-top{
    text-align: center;
}
.text-align{
    background-color: rgb(171, 191, 207);
    background-color: var(--borde);
}
.text-info{
    margin:10px;
    padding: 10px;
    background-color: rgb(226, 242, 255);
    background-color: var(--fondo-info);
}
#justify{
    text-align: justify;
}
#center{
    text-align: center;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
@media (max-width: 900px) { 
    #mediaq{ 
        color:red;
    }
}
@media (max-width: 800px) { 
    #mediaq{ 
        color:aqua;
    }
}
@media (max-width: 700px) { 
    #mediaq{ 
        color:blueviolet;
    }
}
@media (max-width: 600px) { 
    #mediaq{ 
        color:chocolate;
    }
}